button {
  margin: 100px auto;
  display: block;
  background-color: #6585c5;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #8da9e2;
}

.working {
  margin: 0 auto;
  text-align: center;
  display: none;
}